<div class='container-fluid' style='background-color:#ECF0F1' >

<div class='row text-center'>
  <div class='col-lg-12'>
    <h5>Please enter the text in this image.</h5>
  </div>  
</div>

<div class='row text-center'>
  <div class='col-lg-12'>
    <%= image_tag('13532.jpg') %>
  </div>  
</div>

<div class='row text-center' style='margin-top:20px'>
  <div class='col-lg-12'>
    <div class='form-group'>
      <input type="text" class="form-control" style='text-align:center' name=''>
    </div>
  </div>  
</div>

<div class='row text-center' style='margin-top:20px ' >
  <div class='col-lg-12' >
    <button type="submit" class="btn btn-primary btn-block btn-embossed" >Submit</button>
  </div>
</div>

</div>
