<!DOCTYPE html>
<html>
<head>
  <title>Nous</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <%= csrf_meta_tags %>
</head>

<body style='background-color:#ECF0F1;margin-top:56px'>
  
  <div class='container-fluid'  >
        <%= yield%>
  </div>


</body>
</html>
